{% extends "base.html" %}
{% block title %}Создание лота{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="content-box p-3">
            <h3 class="text-center mb-4">Создать новый лот</h3>
            <form method="POST" enctype="multipart/form-data"
                  class="mb-3">{% csrf_token %}
                {% for field in form %}

                    {% if not field.is_hidden and  field != form.main_image %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-dark"
                                   for="{{ field.auto_id }}">{{ field.label_tag }}</label>
                            <div class="col-sm-9">
                                {{ field }}
                            </div>
                            {% if field.help_text %}
                                <div class="text-info"
                                     style="font-size: 14px"> {{ field.help_text }} </div>
                            {% endif %}
                            {% if field.errors %}
                                <div class="text-danger"> {{ field.errors }} </div>
                            {% endif %}
                        </div>

                    {% endif %}
                {% endfor %}
                <div class="custom-file mb-3">
                    {{ form.main_image }}
                    <label class="custom-file-label" for="id_main_image">Выберите отображаемую картинку</label>
                </div>
                <input type="submit" class="btn btn-success" value="Создать">
                <a href="{% url "post-list" %}" class="btn btn-danger">Отменить</a>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(".custom-file-input").on("change", function () {
            let fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}

