{% extends 'base.html' %}

{% block title %}
    Post list
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="card-columns">
            {% for post in posts %}
                <div class="card mb-4 border-dark" style="width: 22rem;">
                    <a href="{{ post.get_absolute_url }}" class="text-white"
                       style="position:absolute; left: 15px; top: 10px;"><b>{{ post.title }}</b></a>
                    <a href="{{ post.get_absolute_url }}">
                        <img src="{{ post.main_image.url }}" class="card-img-top" alt="Lights"
                             style="width:100%">
                    </a>
                    <div class="card-body" style="padding: 0; font-size: small">
                    <ul class="list-group list-group-flush"></ul>
                        <li class="list-group-item card-text">{{ post.description|truncatechars:120 }}</li>
                        <li class="list-group-item card-text">
                            Последняя ставка:
                            {% if post.bets.last.amount %}
                                {{ post.bets.last.amount }}
                            {% else %}
                                {{ post.initial_bet }}
                            {% endif %}
                            $
                        </li>
                        <li class="list-group-item card-text">
                            Цена выкупа: {{ post.permanent_price }} $
                        </li>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}