{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'post-detail' object.pk %}"
       class="btn btn-info btn-lg active mt-3 mb-3 ml-3">
        &#8592 Назад
    </a>
    <div class="container">
        <h2 class="display-5 text-center">Изменить информацию про лот</h2>
        <div class="row mx-auto mb-3">
            <div class="col-md">
                <form method="POST" class="mb-5" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form %}
                        {% if not field.is_hidden and  field != form.main_image %}
                            <div class="form-group">
                                <label for="{{ field.auto_id }}">{{ field.label_tag }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger"> {{ field.errors }} </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="custom-file mb-3">
                        {{ form.main_image }}
                        <label class="custom-file-label" for="id_main_image">Выберите отображаемую картинку</label>
                    </div>
                    <input type="submit" class="btn btn-success"
                           value="Принять изминения">
                    <a href="{% url 'post-detail' object.pk %}"
                       class="btn btn-danger">Отменить</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(".custom-file-input").on("change", function () {
            let fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}