{% extends "base.html" %}

{% block title %}
    {{ post.id }}
{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>{{ post.title }}</h1>
        <hr>
        <p>Начальная ставка: {{ post.initial_bet }}</p>
        <hr>
        <p>Цена выкупа: {{ post.permanent_price }}</p>
        <hr>
        <p>Ставка сейчас: {{ current_bet }}</p>
        <form method="POST" action="{% url 'make-bet' post.pk %}">{% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <button type="submit">Принять ставку</button>
        </form>

    </div>
{% endblock %}