{% extends "base.html" %}

{% block title %}
    Профиль {{ user.username }}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="content-box text-left p-3">
            <p class="text-center">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="profile avatar" height="250px">
                {% else %}
                    <img src="/media/users/avatars/default.jpg" alt="profile avatar">
                {% endif %}
            </p>
            <hr>
            <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
            <hr>
            <p><strong>Имя:</strong> {{ user.first_name }}
            <br><strong>Фамилия:</strong> {{ user.last_name }}
            <br><strong>Дата рождения:</strong> {{ user.birthdate|date:"Y.m.d" }}</p>
            <hr>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <hr>
            <p><strong>О себе:</strong> {{ user.info }}</p>
            <hr>
            <p class="text-center"><a href="{% url 'profile-change' %}" class="btn btn-primary">Изменить профиль</a></p>
        </div>
    </div>
{% endblock %}