{% extends "base.html" %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="content-box p-3">
            <h3 class="text-center mb-4">Регистрация</h3>
            <form class="text-left" method="POST" enctype="multipart/form-data">{% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                    {% if not field.is_hidden %}
                        <label for="{{ field.auto_id }}"
                               class="text-dark mt-2 mb-0">{{ field.label_tag }}
                        </label>
                        {{ field }}
                    {% endif %}
                {% endfor %}

        <p class="text-center"><button type="submit" class="btn btn-success w-50 mt-3">
            Зарегестрироваться
        </button></p>
        </form>
    </div>
    </div>
{% endblock %}